{% extends 'user/base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'user/favorites.css' %}">
{% endblock %}

{% block content %} 
<div class="favorite-items">
    <ul class='items-list'>
        {% for item in favorites %}
            {% with item_image=item.original_item.attachments.all|first %}
                <li class='item'><a href="{% url 'store:detail' brand_type=item.original_item.brand_type brand_name=item.original_item.brand_name item_name=item.original_item.name %}" class='itemlink'><img src="{{ item_image.image.url }}" alt="{{ item.name }}"><h3 class='itemname'><strong>{{ item.original_item.name }}</strong></h3></a></li>
            {% endwith %}
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if favorites.has_previous %}
            <a class="page-link-left" href="?page=1"><span>&lt;&lt;</span>&nbsp;</a>
            <a class="page-link-right" href="?page={{ favorites.previous_page_number }}">&lt;</a>
            {% endif %}
            
            <span class="current">
                &nbsp;Page {{ favorites.number }} of {{ favorites.paginator.num_pages }}&nbsp;
            </span>
            
            {% if favorites.has_next %}
            <a class="page-link-left" href="?page={{ favorites.next_page_number }}"><span>&gt;</span>&nbsp;</a>
            <a class="page-link-right" href="?page={{ favorites.paginator.num_pages }}">&gt;&gt;&nbsp;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}